/* Green */

/* #1e771a */
a, .top-menu li, .button1, #footer .button1, .button2, .button3, 
.accordion h4.ui-state-active, .toggle .active, 
.blog-prev .blog-prev-content h4 a, .event-prev .event-prev-content h4 a, 
#footer-copy p .footer-menu {
	color: #b20707;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #b20707 !important;
}

#header, .msg1, .donate-btn .donate-right, #content .widget .widget-title, #footer-wrapper {
	background: url(../../images/bg.png) #b20707;
}

#main-menu .current_page_item a, #main-menu .current-menu-item a,
#main-menu li a:hover, #main-menu li.sfHover a,
#main-menu a:focus, #main-menu a:hover, #main-menu a:active, .title-end, 
.blog-title .comment-count, .blog-title-single .comment-count, .event-prev .event-prev-date {
	background: #b20707;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected, blockquote, table {
	border-color: #b20707;
}

.blog-title .comment-count .comment-point,
.blog-title-single .comment-count .comment-point {
	background: url(../../images/comment-point.png) #b20707 no-repeat;
}

#twitter_icon, #facebook_icon, #googleplus_icon, #skype_icon, #flickr_icon, #linkedin_icon, #vimeo_icon, #youtube_icon, #rss_icon {
	background: url(../../images/social-icons.png) no-repeat #b20707;
}

/* Not Related to colours but must go below where image is called */
#twitter_icon {
	background-position: 7px 6px;
}

#facebook_icon {
	background-position: -20px 6px;
}

#googleplus_icon {
	background-position: -48px 6px;
}

#skype_icon {
	background-position: -76px 6px;
}

#flickr_icon {
	background-position: -103px 6px;
}

#linkedin_icon {
	background-position: -131px 6px;
}

#vimeo_icon {
	background-position: -160px 6px;
}

#youtube_icon {
	background-position: -187px 6px;
}

#rss_icon {
	background-position: -215px 6px;
}

/* #1c451a */
#top-bar, #main-menu-wrapper, .pagination li.current a, 
#footer-wrapper #footer .widget .widget-title, #footer-copy-wrapper, #footer-wrapper #footer table tr:nth-child(2n) {
	background: #640b0b;
}

#main-menu li li a {
	color: #640b0b;
}

.flex-direction-nav .flex-prev,.flex-direction-nav .flex-next {
	background: url(../../images/direction-controls.png) #640b0b;
}

.flex-direction-nav .flex-next {
	background-position: 0 -28px;
}

#footer-wrapper #footer .widget li, #footer-wrapper #footer .widget .wp-tag-cloud li:last-child, #footer-wrapper #footer table, #footer-wrapper #footer table td, #footer-wrapper #footer table th {
	border-color: #640b0b;
}

/* "501C451A" is the colour #1c451a, the "50" added to the front give 50% transparency in IE */
.ie8 #footer-wrapper #footer .widget {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50640b0b,endColorstr=#50640b0b);
}

.ie8 .flex-caption {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90640b0b,endColorstr=#90640b0b);
}

/* #cae9c9 */
#page-header {
	border-color: #ce8382;
}

#main-menu li li a, #main-menu li.sfHover li a {
	background:	#ce8382;
}

#main-menu li li li {
	background:	#ce8382;
}

.slider {
	border-color: #ce8382;
}

/* #b3dab2 */
#main-menu li li a:hover {
	background: #c57a79;
}

/* #aad1a9 */
#main-menu li li a {
	border-color: #be6f6e;
}

/* #65a662 */
#title #tagline {
	color: #c16565;
}

/* #1c451a Converted to RGBA, use http://hex2rgba.devoth.com/ to convert */
.flex-caption {
	background-color:rgba(175, 30, 29, 0.8);
}