#main-menu-wrapper select {
	display: none;
}

#content {
	margin: 0 auto;
}

/* Responsive */
@media only screen and (min-width: 768px) and (max-width: 1100px) {
	
	body {
		min-width: 10px;
	}
	
	.top-inner, .title-wrapper, .section, .gallery-section, #footer, #footer-copy, #content {
		width: 620px;
	}
	
	.flex-direction-nav .flex-prev,.flex-direction-nav .flex-next {
		position: absolute;
		top: -150px;
	}
	
	.slider {
		width: 610px;
	}
	
	.slides {
		height: 260px;
	}
	
	#page-header {
		width: 600px;
	}
	
	#page-header {
		height: 135px;
	}
	
	#main-menu-wrapper {
		width: 600px;
	}
	
	#page-header img {
		width: 600px;
	}
		
	.widget .latest-posts-list li .lpl-img {
		display: none;
	}
	
	.widget .latest-posts-list li .lpl-content {
	    width: 100%;
	}
	
	#main-menu {
		width: 390px;
	}
	
	.blog-prev .blog-prev-content {
	    width: 260px;
	}
	
	.blog-prev .blog-prev-img {
	    width: 120px;
		overflow: hidden;
	}
	
	.event-prev .event-prev-content {
	    width: 115px;
	}
	
	.flickr_badge_wrapper .flickr_badge_image {
	    height: 41px;
	}
	
	.flickr_badge_wrapper .flickr_badge_image img {
	    height: 41px;
	    width: 41px;
	}
		
	.flickr_badge_wrapper .flickr_badge_image {
	    float: left;
	    height: 41px;
	    margin: 0 8px 0 0;
	}

	#footer .flickr_badge_wrapper .flickr_badge_image:nth-child(2n+1) {
	    margin: 0 8px 8px 0;
	}
	
	#footer .flickr_badge_wrapper .flickr_badge_image:nth-child(3n+1) {
		margin: 0 8px 8px 0;
	}
	
	#footer .one-third, #footer .two-thirds, #footer .two-forths, #footer .one-forth, #footer .two-thirds-right, #footer .one-third-left {
		width: 100%;
		float: none;
		margin: 0 0 40px 0;
	}
	
	#footer .last-col {
		margin: 0;
	}

	.flickr-more-photos {
		overflow: hidden;
	}

	.jcarousel-container-horizontal {
	    width: 560px;
	}
	
	.prev-image, .breadcrumbs {
		width: 100%;
	}
	
	#slides .next,#slides .prev {
		position: absolute;
		top: 150px;
	}

	.caption {
 		position: absolute;
	    left: 20px;
	}
	
	.blog-title-single h2 {
		width: 360px;
	}
	
	#title {
		float: none;
	}
	
	#title #tagline {
		display: block;
		top: 4px !important;
		left: 0;
	}
	
	.donate-btn {
		float: left;
		position: relative;
		left: 40px;
		top: 0px !important;
		margin: 20px 0 0 0;
		display: block;
	}
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		min-width: 10px;
	}
	
	.top-menu {
		display: none;
	}
	
	.top-inner, .title-wrapper, .section, .gallery-section, #footer, #footer-copy, #content {
		width: 310px;
	}
	
	.flex-direction-nav .flex-prev,.flex-direction-nav .flex-next {
		position: absolute;
		top: -80px;
	}
	
	.flex-caption {
		display: none;
	}
	
	.slider {
		width: 295px;
	}
	
	.slides {
		height: 120px;
	}
	
	#page-header {
		width: 290px;
	}
	
	#main-menu-wrapper {
		width: 286px;
	}
	
	#page-header img {
		width: 100%;
	}
	
	#page-header {
		height: 65px;
	}
	
	#main-menu {
		display: none;
	}
	
	.blog-prev .blog-prev-content {
	    width: 230px;
	}
	
	.blog-prev .blog-prev-img {
	    width: 60px;
		height: 40px;
		overflow: hidden;
	}
	
	.event-prev .event-prev-content {
	    width: 130px;
	}
	
	.flickr_badge_wrapper .flickr_badge_image {
	    height: 47px;
	}
	
	.flickr_badge_wrapper .flickr_badge_image img {
	    height: 47px;
	    width: 47px;
	}
	
	#footer .flickr_badge_wrapper .flickr_badge_image:nth-child(3n+1) {
	    margin: 0 8px 8px 0;
	}
	
	#footer .flickr_badge_wrapper .flickr_badge_image:nth-child(2n+1) {
	    margin: 0 8px 8px 0;
	}
	
	#footer .flickr_badge_wrapper .flickr_badge_image:nth-child(5n+1) {
	    margin: 0 0 8px 0;
	}
	
	.jcarousel-container-horizontal {
	    width: 270px;
	}
	
	.one-half, .one-third, .two-thirds, .two-forths, .one-forth, .two-thirds-right, .one-third-left {
		width: 100%;
		float: none;
		margin: 0 0 40px 0;
	}
	
	.last-col {
		margin: 0;
	}
	
	#main-menu-wrapper select {
		display: inline;
		width: 100%;
		margin: 2px 0 15px 0;
		padding: 5px;
		background: #fff;
		border: #e1e1e1 1px solid;
		color: #808080;
		font-size: 13px;
		-webkit-border-radius: 3px; 
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}
	
	#menu-search, #menu-search input {
	    display: none;
	}
	
	.donate-btn {
		float: left;
		position: relative;
		left: 40px;
		top: 0px !important;
		margin: 20px 0 0 0;
		display: block;
	}
	
	#title {
		float: none;
	}
	
	#title #tagline {
		display: block;
		top: 4px !important;
		left: 0;
	}
	
	.prev-image, .breadcrumbs {
		width: 100%;
	}
	
	.blog-title h3 {
	    max-width: 260px;
	}
	
	.blog-title-single h2 {
	    max-width: 260px;
	}
	
	#respond {
		padding: 0 0 30px 0;
	}
	
	.jcarousel-prev-horizontal {
	    left: -45px;
	}
	
	.jcarousel-next-horizontal {
	    right: -45px;
	}
	
	.blog-title-single h2 {
		width: 300px;
	}
	
	input[type="text"], input[type="password"] {
	    width: 97%;
	}
	
	#tabs .nav li, #tabs .nav li a {
	    width: 304px;
		display: block;
	}
	
	.ui-tabs .ui-tabs-nav li a {
		padding: 10px 0 10px 0;
	}
	
	.ui-tabs .ui-tabs-nav li:first-child a {
	    border-left: none;
	}
	
}

@media only screen and (min-width: 240px) and (max-width: 479px) {
	
	body {
		min-width: 10px;
	}
	
	.top-menu {
		display: none;
	}
	
	.top-inner, .title-wrapper, .section, .gallery-section, #footer, #footer-copy, #content {
		width: 220px;
	}
	
	.flex-direction-nav .flex-prev,.flex-direction-nav .flex-next {
		position: absolute;
		top: -60px;
	}
	
	.flex-caption {
		display: none;
	}
	
	.slider {
		width: 210px;
	}
	
	.slides {
		height: 90px;
	}

	.flex-direction-nav .flex-prev {
		left: -40px;
	}

	.flex-direction-nav .flex-next {
		right: -40px;
	}
	
	#page-header {
		width: 200px;
	}
	
	.blog-prev .blog-prev-content {
		float: left;
	}
	
	#slides {
		min-height: 125px;
	}
	
	#main-menu-wrapper {
		width: 200px;
	}
	
	#page-header img {
		width: 100%;
	}
	
	.widget .latest-posts-list li .lpl-img {
		display: none;
	}
	
	.widget .latest-posts-list li .lpl-content {
	    width: 100%;
	}
	
	#page-header {
		height: 45px;
	}
	
	#main-menu {
		display: none;
	}
	
	.blog-prev .blog-prev-content {
	    width: 200px;
	}
	
	.blog-prev .blog-prev-img {
		display: none;
	}
	
	.event-prev .event-prev-content {
	    width: 127px;
	}
	
	.flickr_badge_wrapper .flickr_badge_image {
	    height: 47px;
	}
	
	.flickr_badge_wrapper .flickr_badge_image img {
	    height: 47px;
	    width: 47px;
	}
	
	#footer .flickr_badge_wrapper .flickr_badge_image:nth-child(3n+1) {
	    margin: 0 0px 8px 0;
	}
	
	#footer .flickr_badge_wrapper .flickr_badge_image:nth-child(2n+1) {
	    margin: 0 8px 8px 0;
	}
	
	#footer .flickr_badge_wrapper .flickr_badge_image:nth-child(5n+1) {
	    margin: 0 8px 8px 0;
	}
	
	#footer .flickr_badge_wrapper .flickr_badge_image:nth-child(6n+1) {
	    margin: 0 0px 8px 0;
	}
	
	.jcarousel-container-horizontal {
	    width: 160px;
	}
	
	.one-half, .one-third, .two-thirds, .two-forths, .one-forth, .two-thirds-right, .one-third-left {
		width: 100%;
		float: none;
		margin: 0 0 40px 0;
	}
	
	.last-col {
		margin: 0;
	}
	
	#main-menu-wrapper select {
		display: inline;
		width: 100%;
		margin: 2px 0 15px 0;
		padding: 5px;
		background: #fff;
		border: #e1e1e1 1px solid;
		color: #808080;
		font-size: 13px;
		-webkit-border-radius: 3px; 
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}
	
	#menu-search, #menu-search input {
	    display: none;
	}
	
	.donate-btn {
		float: left;
		position: relative;
		left: 40px;
		top: 0px !important;
		margin: 20px 0 0 0;
		display: block;
	}
	
	#title {
		float: none;
	}
	
	#title #tagline {
		display: block;
		top: 4px !important;
		left: 0;
	}
	
	.prev-image, .breadcrumbs {
		width: 100%;
	}
	
	.blog-title h3 {
	    max-width: 260px;
	}
	
	.blog-title-single h2 {
	    max-width: 260px;
	}
	
	#respond {
		padding: 0 0 30px 0;
	}
	
	.jcarousel-prev-horizontal {
	    left: -45px;
	}
	
	.jcarousel-next-horizontal {
	    right: -45px;
	}
	
	#twitter_icon, #facebook_icon, #googleplus_icon, #skype_icon, #flickr_icon, #linkedin_icon, #vimeo_icon, #youtube_icon, #rss_icon {
		margin: 0 4px 4px 0;
	}
	
	#footer-copy .fl, #footer-copy .fr {
		float: none;
		display: block;
	}
	
	#footer .bottom {
		display: none;
	}
	
	#footer-copy-wrapper {
	    margin: 10px 0 0 0;
	}
	
	.comment-count, .author-image {
		display: none;
	}
	
	input[type="text"], input[type="password"] {
	    width: 97%;
	}
	
	#tabs .nav li, #tabs .nav li a {
	    width: 214px;
		display: block;
	}
	
	.ui-tabs .ui-tabs-nav li a {
		padding: 10px 0 10px 0;
	}
	
	.ui-tabs .ui-tabs-nav li:first-child a {
	    border-left: none;
	}
	
}